.abc{
    background: url("./assets/balloon.jpg") no-repeat center center; 
   	height: 400px;
    background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.JT {
	 font-family: 'Muli', sans-serif;
	font-weight: bolder !important;
	color: white;
	opacity: .8;
   	text-shadow:
   		2px 2px 0 #000,
    	-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

